include README.rst
include MANIFEST.in
recursive-include cmsplugin_team/fixtures *
recursive-include cmsplugin_team/bin *
recursive-include cmsplugin_team/locale *.po
recursive-include cmsplugin_team/static *
recursive-include cmsplugin_team/templates *